    body {
        padding: 0 10px;
        margin: 0;
        font: 15px/1.4 sans-serif;
        background: #eee;
    }
    pre  {
        font-size: 13px;
        background: white;
        overflow-x: auto;
    }
    img  {
        max-width: 500px;
        box-sizing: content-box;
    }
    .large  {
        max-width: 800px;
    }
@media screen and (max-width: 500px) {
    img  {
        max-width: 100%;
    }
}
@media screen and (max-width: 800px) {
    .large  {
        max-width: 100%;
    }
}
