    body {
        max-width: 460px;
        font-size: 12px;
        font-family: arial, sans-serif;
    }
    p { 
        width: 100%;
        margin: 8px 0px;
    }
    #div1 { 
      white-space: nowrap;
    }
    select, #out2 {
        font: 17px me_quran, serif;
        margin-right: 4px;
        padding-right: 4px;
        direction: rtl;
        color: blue;
    }
    button { 
        padding: 4px; 
    }
    table { 
        border-collapse: collapse; 
        text-align: center;
        cursor: default;
        margin: 8px  8px 20px 0;
    }
    th { 
        color: #666; 
        font-weight: normal;
        padding: 0px; 
    }
    td {
        box-sizing: border-box;
        min-width: 21px;
        height: 21px;
        border: 1px solid black; 
        padding: 0px;
        /*cursor: pointer;*/
        position: relative;
    }
    td:hover { 
        border: 4px solid brown;
    }
    button:hover .t1 { 
        display: block; 
    }
    span .t1 {
        display: none;
        cursor: pointer;
    }
    #bilgi {
        display: none;
        position: absolute;
        width: 180px;
        z-index: 1; /* on top of other cells */
        top: 18px;
        text-align: center;
    }
    .t1, .t2 {
        font: 12px/1.6 sansserif, arial;
        padding: 5px;
        cursor: pointer;
        border: black 1px solid;
        color: black;
    }
    .t1 {
        background: #eee;
    }
    .t2 {
        background: #ff7;
    }
    #corpus {
        color: blue;
        cursor: pointer;
        text-decoration: underline;
    }
	@font-face {
	  font-family: me_quran;
	  src: url("../image/me_quran.ttf")
	}
	
	/* Menu Style */
    .menu {
      box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
      position: fixed;
      display: none;
      border: black 1px solid;
      text-align: center;
      color: blue;
      background: #eee;
      font: 13px sansserif, arial;
      user-select: none;
      z-index: 1;
    }
    #version { 
      color: black;
    }
    .menuK {
      display: block;
      padding: 10px;
    }
    .menuK:hover {
      background: rgba(0, 0, 0, 0.2);
    }

