@media screen and (max-width: 800px) {
    body { 
      width: 100%;
      margin: 0;
      background: cyan;
      text-align: center;
    }
    button { 
      width: 25px;
      margin: 0;
    }
    #title, #geri { 
      display: none;
    }
    #d3 { 
      font: 12px sansserif, arial;
      font-weight: normal;
      margin: 8px 0;
    }
    #text, #html {
      background: white;
      padding: 4px 8px;
    }
    #text { 
      display: none;
      font: 3.4vw/1.2 sansserif, arial;
      text-align: left;
    }
    #html { 
      font: 4.6vw/2 me_quran, serif;
      text-align: justify;
    }
    #sure {
      text-align: right;
      width: 40px;
    }
    #sayfa { 
      width: 40px;
    }
}

@media screen and (min-width: 801px) {
    body { 
      margin: 0;
      background: #cfc;
      text-align: center;
    }
    button { 
      width: 30px;
      margin: 0;
    }
    #title {
      margin: 0;
      display: inline-block;
    }
    #trans { 
      display: none;
    }
    #d3 { 
      display: inline-block;
      font: 14px sansserif, arial;
      font-weight: normal;
      margin: 8px;
    }
    #text, #html {
      display: inline-block;
      vertical-align: middle;
      overflow-y: auto;
      height: 84vh;
      border: black 1px solid;
      background: white;
      padding: 4px 8px;
    }
    #text { 
      font: 15px sansserif, arial;
      text-align: left;
      width: 400px; 
    }
    #html { 
      font: 18px/2 me_quran, serif;
      text-align: justify;
      width: 400px; 
    }
    #sure {
      text-align: right;
      width: 40px;
    }
    #sayfa { 
      width: 40px;
    }
}
    #d1 { 
      margin-bottom: 8px;
    }
    #slider {
      position: relative;
      top: 6px;
      width: 72%;
      max-width: 604px;
      margin: 0;
    }
    .ortala { 
      margin-top: 8px;
      background: url("../image/sura.png");
      background-repeat: no-repeat;
      background-size: contain;
    }
    .besmele, .ortala { 
      text-align: center;
      color: #070;
    }
    .mavi { 
      color: blue;
    }
	@font-face {
	  font-family: me_quran;
	  src: url("../image/me_quran.ttf")
	}


/* Menu Style */


/*Ref: https://stackoverflow.com/questions/17005878/how-to-disable-text-selection-in-li 
  Ref: https://dev.to/iamafro/how-to-create-a-custom-context-menu--5d7p
*/


.menu {
  width: 120px;
  z-index: 1;
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
  position: fixed;
  display: none;
  transition: 0.2s display ease-in;
  background: #cfc;
}

.menu .menu-options {
  list-style: none;
  padding: 10px 0;
  z-index: 1;
  /*  */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.menu .menu-options .menu-option {
  font-weight: 500;
  z-index: 1;
  font-size: 14px;
  padding: 10px 40px 10px 20px;
  cursor: pointer;
  /*  */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.menu .menu-options .menu-option:hover {
  background: rgba(0, 0, 0, 0.2);
}


/* End of menu style */